body {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(245,148,173), rgb(253,213,155), rgb(173,116,216));
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

ul, a {
    text-decoration: none;
    list-style: none;
    line-height: 40px;
    padding: 0;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    border: none;
    background: none;
    cursor: pointer;
    background-image: url("./assets/images/open.svg");
    background-repeat: no-repeat;
    z-index: 9999;
    width: 20px;
    aspect-ratio: 1;
}

.dropdown-btn.active {
    font-weight: bolder;
}

.dropdown-menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: -50px;
    width: 50vw;
    border-radius: .25rem;
    background-color: antiquewhite;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
    opacity: 0;
}

.dropdown.active > .dropdown-btn + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    border-radius: .25rem;
}

.dropdown-menu > ul > li:hover {
    background-color: rgb(173,116,216, 0.1);
    color: white;
    cursor: pointer;
}